@CHARSET "UTF-8";

.wrap {
	min-height: 100%;
	height: auto;
}
/* Style for our header texts
	* --------------------------------------- */
h1 {
	font-size: 5em;
	color: #000;
	margin: 0;
	padding: 0;
}

.intro p {
	color: #fff;
	font-size: 3em;
}

/* Centered texts in each section
	* --------------------------------------- */
.section {
	text-align: center;
}

/* Fixed header and footer.
	* --------------------------------------- */
#header, #footer {
	position: fixed;
	height: 150px;
	display: block;
	width: 100%;
	background: #0b5d59;
	z-index: 9;
	text-align: center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
}

#header {
	top: 0px;
	font-size:4em;
}
.site_title{
	font-size:48px;
}
#footer {
	bottom: 0px;
	font-size:3em;
}